[submodule "src/onos"]
	path = src/onos
	url = https://github.com/opennetworkinglab/onos
[submodule "src/suricata"]
	path = src/suricata
	url = https://github.com/inliniac/suricata
[submodule "src/compass-core"]
	path = src/compass-core
	url = https://github.com/stackforge/compass-core
[submodule "src/openstack/neutron/plugin"]
	path = src/openstack/neutron/plugin
	url = https://github.com/onosfw/plugin
